.pizza__item {
  width: 25%;
  padding: 0 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 0 4% 0;

  .pizza__img {
    width: 90%;
    user-select: none;
  }

  .pizza__header {
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 0;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .kind_section {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 2%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;

    .kind {
      display: flex;
      justify-content: space-between;

      div {
        width: 49%;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
      }

      .kind_active {
        background-color: white;
        border-radius: 5px;
      }

      .not_aviable {
        color: #2c2c2c;
        opacity: 0.5;
        cursor: default;
      }
    }

    .size {
      display: flex;
      justify-content: space-between;

      div {
        width: 32.5%;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
      }

      .size_active {
        background-color: white;
        border-radius: 5px;
      }

      .not_aviable {
        color: #2c2c2c;
        opacity: 0.5;
        cursor: default;
      }
    }
  }

  .price_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    .pizza_price {
      font-size: 1.275rem;
      font-weight: bold;
      margin: 0;
      width: 45%;
    }

    .btn {
      display: flex;
      align-items: center;
      background-color: #fe5f1e;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      padding: 10px 30px;
      cursor: pointer;

      p {
        margin: 0;
        color: white;
        font-weight: bold;
        min-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
      }

      svg {
        margin-right: 10px;
      }
    }

    .active_btn {
      width: 60%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      padding: 10px 30px;

      path {
        fill: #fe5f1e;
      }

      svg {
        margin-right: 10px;
      }

      p {
        padding: 0;
        margin: 0;
        color: #fe5f1e;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .amount {
        background-color: #fe5f1e;
        border-radius: 30px;
        color: white;
        min-width: 22px;
        min-height: 22px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        padding: 2px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .pizza__item {
    width: 33.33%;
  }

  .pizza__item .price_section .pizza_price {
    width: 130px;
    white-space: nowrap;
  }
}

@media (max-width: 970px) {
  .pizza__item {
    width: 50%;
    padding: 0 4%;
  }
}

@media (max-width: 670px) {
  .pizza__item {
    width: 90%;
    margin: 50px auto;

    .kind_section {
      height: auto;
      .kind,
      .size {
        margin-bottom: 10px;
        padding: 5px;
        div {
          padding: 5px 10px;
        }
      }
    }

    .price_section .btn,
    .price_section .active_btn {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      padding: 15px 20px;
      width: 100%;
      font-size: 18px;
    }
  }

  .pizza__item .price_section {
    flex-direction: column;

    .pizza_price {
      width: 130px;
    }
  }
}
